body {
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  gap: 25px;
}

.paper {
  border: 5px solid #c3c3c3;
  -webkit-box-shadow: 8px 8px 15px -8px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 15px -8px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 15px -8px rgba(66, 68, 90, 1);
}

#instructions {
  font-size: 24px;
  padding: 30px;
}
